<footer class="text-muted small bg-light py-4 mt-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--{hook footer_footer_left_start.htm}-->
                <?php echo htmlspecialchars_decode($conf['footer_left_html'])?>
                <!--{hook footer_footer_left_end.htm}-->
            </div>
            <div class="col text-right">
                <!--{hook footer_footer_right_start.htm}-->
                <?php eval($conf['footer_right_html'])?>
                <!--{hook footer_footer_right_end.htm}-->
            </div>
        </div>
    </div>
</footer>